body {
  background-color:#b3c9fc;
}

h1 {
color: #f532ab;
font-size: 100px;
}

.banner {
  width: 100%;
  height: 100px;
  background-color: #0949dc;
}

h2 {
color: black;
font-size: 36px;
}

h3 {
  font-size: 20px;
}

ul li{
  font-family: helvetica;
}
