body {
  background-color: pink;
}

h1 {
color: #f532ab;
font-size: 110px;
}

h2 {
color: black;
font-size: 36px;
}

h3 {
  font-size: 20px;
}

ul li{
  font-family: helvetica;
}

ol li{
  font-size: 20px;
  font-family: lucida bright;
}

h4 {
  font-size: 30px;
  color: #936ef2;
}

p {
  font-size: 20px;
  font-family: lucida bright;
}

h5{
  font-size: 10px;
}
